*{margin:0;padding:0}
html{
    /* background-image: url('../img/bg2.jpg'); */
}
.yan-header{
    /* background-color: #ed556a; */
    background: #000 linear-gradient(to left, #4cd964, #5ac8fa, #007aff, #34aadc, #5856d6, #ff2d55);
    height: 55px;
}
.yan-title{
    color: white;
    line-height: 55px;
    font-size:25px;
    margin-left: 2%;
    float: left;
}
.yan-mune ul{
    list-style:none;
    margin: 0px;
    padding: 0px;
    padding-left: 20%;
    padding-top: 15px;;
}
.yan-mune ul li{
    float: left;
    font-size: 20px;
    padding-left: 80px;
    color: white;
}
.yan-mune ul li:hover{
    color: #00c1de;
}

.yan-body{
    width: 100%;
    /* padding-top: 55px; */
    position: relative;
    /* background-image: url('../img/bg2.jpg'); */
}

.yan-every{
    width: 50%;
    height: 200px;
    display: block;
    border-radius: 15px;
    /* background-color: #3980aac4; */
    position: relative;
    margin: 50px auto;
    border: #ed556a 2px solid;
}
.yan-date-thing{
    width:180px;
    height: 50px;
    display: block;
    text-align:center;
    position: relative;
    margin: 60px auto;
    border-radius: 25px;
}
.yan-footer{
    width: 100%;
    height:100px;
    padding-top: 50px;
    /* background-color: #f6f8ef; */
    position: relative;
    bottom: 0px;
    text-align:center;
    /* line-height: 50px; */
    /* border: #ed556a 2px solid; */
}
