---
title: Index
layout: page
description: "代码编织梦想，程序创造未来"
---
<!-- ceshi-->
{% for post in paginator.posts %}
{% if post.is_trip %}
{% else %}
<div class="post-preview">
    <div style="width: 150px; height: 150px; float: left;">
        <img src="{{post.top-img}}" style="width: 140px; height: 140px; border-radius:10px; float: left;">
    </div>
    <div style="height: 140px;padding-left:3%;">
      <a href="{{ post.url | prepend: site.baseurl }}">
          <h2 class="post-title">
              {{ post.title }}
          </h2>
      </a>

      <!-- {% if post.subtitle %}
      <h4 class="post-subtitle">
          {{ post.subtitle }}
      </h4>
      {% endif %} -->
      <div class="post-content-preview" style="font-size:14px;height: 65px;overflow: hidden;">
          {{ post.content | strip_html | truncate:200 }}
      </div>
      <div style="margin-top: -25px;">
          <p class="post-meta">
              Posted by {% if post.author %}{{ post.author }}{% else %}{{ site.title }}{% endif %} on {{ post.date | date: "%B %-d, %Y" }}
          </p>
      </div>


    </div>
</div>
<hr>
{% endif %}
{% endfor %}

<!-- Pager -->
{% if paginator.total_pages > 1 %}
<ul class="pager">
    {% if paginator.previous_page %}
    <li class="previous">
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer Posts</a>
    </li>
    {% endif %}
    {% if paginator.next_page %}
    <li class="next">
        <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Posts &rarr;</a>
    </li>
    {% endif %}
</ul>
{% endif %}
