---
layout: picture
title: Portfolio
description: "身体和灵魂总有一个在路上"
header-img: "img/bg_you.jpg"
---

{% for post in site.posts %}
{% if post.trip %}
<div class="cbp_tmlabel">
		<a href="{{ post.url | prepend: site.baseurl }}">
		<h2 id="boxoffice">{{post.title}}</h2>
		<h3>{{post.time}}</h3>
		<img src="{{post.top-img}}" style="height: 360px; width:600px;"/>
		</a>
		<ul>
			<li>
				{{post.subtitle}}
			</li>
			<li class="skill">
				<span class="link"><a target="_blank" href="{{ post.url | prepend: site.baseurl }}">go</a></span>
			</li>
		</ul>
	</div>
</div>
<hr>
{% endif %}
{% endfor %}



<!-- <!DOCTYPE html>
<html class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Yan</title>
		<link rel="stylesheet" type="text/css" href="css/timeline.css" />
		<script src="js/modernizr.custom.js"></script>
	</head>
	<body>
		<div class="container" style="margin:0;padding:0;width:100%;">
			<header style="background-image: url(images/bg_you.jpg)">
				<img width="175" height="175" style="border-radius:50%;" src="/img/avatar-yan.jpg">
				<h1>游记</h1>
				<h4>身体和灵魂总有一个在路上</h4>
			</header>
			<div class="main">
				<ul class="cbp_tmtimeline">
					<li>
						<div class="cbp_tmlabel">
							<h2 id="boxoffice">秋华</h2>
							<time>2019.11.07</time>
							<img src="/img/bg_2019110701.jpg" style="height: 360px; width:600px;"/>
							<ul>
								<li>
									北国的世界，被落叶染成金黄色。
								</li>
								<li class="skill">
									<span class="link"><a target="_blank" href="/photo.html">go</a></span>
								</li>
							</ul>
						</div>
					</li>
					<li>
						<div class="cbp_tmlabel">
							<h2 id="boxoffice">北海公园</h2>
							<time>2019.09.09</time>
							<img src="/img/bg_2019090901.jpg" style="height: 360px; width:600px;"/>
							<ul>
								<li>
									乘坐莲花船，同游北海。
								</li>
								<li class="skill">
									<span class="link"><a target="_blank" href="/photo.html">go</a></span>
								</li>
							</ul>
						</div>
					</li>
					<li>
						<div class="cbp_tmlabel">
							<h2 id="boxoffice">故宫博物馆</h2>
							<time>2019.05.01</time>
							<img src="/img/bg_090601.jpg" style="height: 360px; width:600px;"/>
							<ul>
								<li>
									湛蓝的北京城，领略故宫独特的魅力。
								</li>
								<li class="skill">
									<span class="link"><a target="_blank" href="/photo.html">go</a></span>
								</li>
							</ul>
						</div>
					</li>
					<li>
						<div class="cbp_tmlabel">
							<h2 id="boxoffice">红楼梦大观园</h2>
							<time>2019.04.06</time>
							<img src="/img/bg_090604.jpg" style="height: 350px; width:600px;"/>
							<ul>
								<li>
									重温红楼遗梦
								</li>
								<li class="skill">
									<span class="link"><a target="_blank" href="/">go</a></span>
								</li>
							</ul>
						</div>
					</li>
					<li>
						<div class="cbp_tmlabel">
							<h2 id="boxoffice">百望山踏春</h2>
							<time>2019.03.23</time>
							<img src="/img/bg_090605.jpg" style="height: 350px; width:600px;"/>
							<ul>
								<li>
									人面不知何处去，桃花依旧笑春风
								</li>
								<li class="skill">
									<span class="link"><a target="_blank" href="/">go</a></span>
								</li>
							</ul>
						</div>
					</li>
					<li>
						<div class="cbp_tmlabel">
							<h2 id="boxoffice">地坛看银杏</h2>
							<time>2018.11.23</time>
							<img src="/img/1.jpg" style="height: 350px; width:600px;"/>
							<ul>
								<li>
									生命应当如此
								</li>
								<li class="skill">
									<span class="link"><a target="_blank" href="/photo.html">go</a></span>
								</li>
							</ul>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</body>
</html> -->
